<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="NonExistantFileDirectory" value=""/>
    <add key="MediaLocationWithoutMedia" value=""/>
    <add key="MediaLocationWithoutEndSlash" value=""/>
    <add key="MediaLocationWithEndSlash" value=""/>
    <add key="GoodConnectionString" value=""/>
    <add key="BadConnectionString" value=""/>
    <add key="DropOffLocationWithoutEndSlash" value=""/>
    <add key="DropOffLocationWithEndSlash" value=""/>
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="PerformMoveTrue" value="true"/>
    <add key="PerformMoveFalse" value="false"/>
    <add key="ShowBadFilesOnly" value="true"/>
  </appSettings>
</configuration>