<appSettings>
  <!--Define the parent directory of the media folder for example the web root-->
    <add key="MediaLocation" value="E:\webroot"/>
  <!--Specify the Umbraco Connection String-->
    <add key="ConnectionString" value="secret-string"/>
  <!--Specify where the app should move the orphaned media files-->
    <add key="DropOffLocation" value="E:\dropOff"/>
    <add key="log4net.Internal.Debug" value="true"/>
  <!--Set to false if you want the app to scan only, set to true if you are happy for the app to move the media-->
    <add key="PerformMove" value="false"/>
  <!--Setting this to false will force the logger to log all files it finds good or bad-->
    <add key="ShowBadFilesOnly" value="true"/>
</appSettings>

<!-- Place me into the bin directory when you have added your settings -->

<!-- If your settings are showing up in git pending changes refer to this stack overflow post https://stackoverflow.com/questions/19663093/apply-gitignore-on-an-existing-repository-already-tracking-large-number-of-files-->